<div class="row">
	<div class="span8">
		<form class="form-inline">
		<div class="control-group">
		<label class="control-label"><strong>Show:</strong></label>
		<select id="filter_data" class="span3">
			<option value="programs_funding">Program Funding</option>
			<option value="programs_growth.count">Program Growth by FY (#)</option>
			<option value="programs_growth.funding">Program Growth by FY ($)</option>
			<option value="topics_funding">Topic Funding</option>
			<option value="topics_growth.count">Topics Growth by FY (#)</option>
			<option value="topics_growth.funding">Topics Growth by FY ($)</option>
		</select>
		<label class="control-label"><strong>From:</strong></label>
		<select id="filter_year_from" class="span1">
		</select>
		to
		<select id="filter_year_to" class="span1">
		</select>
		<label id="filter_topicrelevance_label" class="control-label"><strong>for:</strong></label>
		<select id="filter_topicrelevance" class="span2">
		</select>
		</div><!-- /control-group -->
		</form>
		<div id="loader"></div>
		<p><small>Click column headers to sort. Scroll down for data definitions. Use the controls below to filter the data.</small></p>
		<table class="table table-striped table-bordered table-condensed" id="division_table">
		</table>
		<div id="data_footnote"></div>
	</div> <!-- span8 -->
	<div class="span4">
		<div id="division_graph"></div>	
		<div id="form_topic_weights"></div>	
	</div> <!-- span4 -->
</div> <!-- row -->

<script type="text/template" id="template_form_topic_weights">
<h4 class="margin-bottom10">Research Topic Weighting<br />(for Prevalence only)</h4>
<p>Up to four Research Topics were assigned to each Proposal. Topics were assigned in order of relevance.</p>
<p>To calculate the overall prevalence of a Research Topic within a set of Awarded Proposals, a Weighted Prevalence score is calculated based on the weight of each Topic assignment. Use the form below to adjust the default weighting.</p>
<form id="topic_weights" class="form-horizontal">
	<table class="table-condensed noborder" style="width: 140px;">
		<thead>
			<tr>
				<th>Topic<br />Assignment</th>
				<th>Weight</th>
			</tr>
		</thead>
	</table>			
		<div class="input-prepend">
			<span class="add-on">1st</span>
			<input type="text" id="t1" class="span1" value="4">
		</div><!-- /input-prepend -->
		
		<div class="input-prepend">
			<span class="add-on">2nd</span>
			<input type="text" id="t2" class="span1" value="3">
		</div><!-- /input-prepend -->
		
		<div class="input-prepend">
			<span class="add-on">3rd</span>
			<input type="text" id="t3" class="span1" value="2">
		</div><!-- /input-prepend -->

		<div class="input-prepend">
			<span class="add-on">4th</span>
			<input type="text" id="t4" class="span1" value="1">
		</div><!-- /input-prepend -->
		<div class="text-center">
			<small>(enter ‘0’ to omit Topic assignment)</small>
			<div class="btn-toolbar">
			<button id="reset" class="btn">Defaults</button>
			<button id="update" class="btn btn-primary">Update</button>
			</div>
	</div><!-- /text-center -->
</form>
<small><strong>Example:</strong> using the default weighting of 4/3/2/1, the Prevalence of a Topic would be 20 if it the assignments were:<br />
3 Proposals with Topic as Primary (3*4)<br />
2 Proposals with Topic as the 3rd (2*2)<br />
4 Proposals with Topic as the 4th (4*1)<br />
<br />
<strong>Tip: </strong>if you would like to show only those Awarded Proposals with the Research Topic assigned as the Primary Topic, enter 1/0/0/0 as your weights.</small>
</script>