<div class="row" style="margin-bottom: 15px;">
	<div class="span7">
		<h3>Program ID: p{{pge}} - {{label}}</h3>
	</div><!-- span7 -->
	<div class="span5">
		<div class="btn-toolbar pull-right">
			<button class="btn" id="gobackto"><i class="icon-chevron-left"></i> Back</button>
			<button class="btn btn-primary" id="view_topics"><i class="icon-chevron-right icon-white"></i> View Topics</button>
			<button class="btn btn-primary" id="view_researchers"><i class="icon-chevron-right icon-white"></i> View Researchers</button>
		</div>
	</div><!-- span5 -->
</div><!-- row -->
<p>Below are the Proposals in the Program you selected and the Research Topics assigned to each Proposal. Click Proposal IDs to view Proposal details at NSF. Click the View Topics button to view an analysis of all Research Topics that were assigned to the Proposals in this Program. Click the View Researchers button to view all Researchers who have submitted Proposals to this Program.</p>
<div id="proposals">
</div>