<div class="page-header">
	<div class="pull-right alert" id="division_summary">
	</div>
	<h1 id="directorate"></h1>
	<h2 id="division"></h2>
</div>

<div id="dashboard" class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab_programs" data-toggle="tab">Programs</a></li>
		<li><a href="#tab_divisions" data-toggle="tab">Divisions</a></li>
		<li><a href="#tab_geography" data-toggle="tab">Geography</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab_programs"></div>
		<div class="tab-pane" id="tab_divisions"></div>
		<div class="tab-pane" id="tab_geography"></div>
	</div><!-- /tab-content -->
</div><!-- /tabbable -->

<script type="text/template" id="template_division_summary">
<h3>Totals ({{startyear}} - {{endyear}})</h3>
{{= if (awards) { }}<p><strong>Awards: </strong><span id="awards">{{awards}}</span></p>{{= } }}
{{= if (researchers) { }}<p><strong>Researchers: </strong><span id="researchers">{{researchers}}</span></p>{{= } }}
{{= if (declines) { }}<p><strong>Declines: </strong><span id="institutions">{{declines}}</span></p>{{= } }}
{{= if (institutions) { }}<p><strong>Institutions: </strong><span id="institutions">{{institutions}}</span></p>{{= } }}
</script>

<script type="text/Javascript">
App.views = {
	'Dashboard': { el:$("#main") }
};

function getDivision(){
	return '<%= current_user.division %>';
}

function getStartYear(){
	return '<%= GLOBAL["dashboard_start_year"] %>';
}

function getEndYear(){
	return '<%= GLOBAL["dashboard_end_year"] %>';
}
</script>
