<div class="row">
	<div class="span7">
		<div class="page-header">
			<h1 id="directorate"></h1>
			<h2 id="division"></h2>
		</div>		
	</div><!-- span7 -->
	<div class="span5">
		<div class="alert" id="division_summary">
		</div>		
	</div><!-- span5 -->
</div><!-- row -->
<div id="dashboard" class="tabbable">
	<ul class="nav nav-tabs">
		<li><a href="#tab_programs" data-toggle="tab">Programs</a></li>
		<li><a href="#tab_division" data-toggle="tab">Division</a></li>
		<!--<li><a href="#tab_geography" data-toggle="tab">Geography</a></li>-->
	</ul>
	<div class="tab-content">
		<div class="tab-pane" id="tab_programs"></div>
		<div class="tab-pane" id="tab_division"></div>
		<!--<div class="tab-pane" id="tab_geography"></div>-->
	</div><!-- /tab-content -->
</div><!-- /tabbable -->

<script type="text/template" id="template_division_summary">
<h3>{{division}} Totals ({{startyear}} - {{endyear}})</h3>
<div class="row">
	<div class="span3">
	{{= if (awards) { }}<strong>Awards: </strong><span id="awards">{{awards}}</span><br />{{= } }}
	{{= if (declines) { }}<strong>Declines: </strong><span id="declines">{{declines}}</span>{{= } }}	
	</div>
	<div class="span2">
	{{= if (researchers) { }}<strong>Researchers: </strong><span id="researchers">{{researchers}}</span><br />{{= } }}
	{{= if (institutions) { }}<strong>Institutions: </strong><span id="institutions">{{institutions}}</span>{{= } }}	
	</div>
</div>
</script>

<script type="text/Javascript">
App.views['Dashboard'] = { el:"#main" };
</script>
