<div id="details_loader"></div>
<h4 id="title" class="margin-bottom10"></h4>
<div id="award_details" class="row">
	<div class="span9">
		<p id="abstract"></p>
	</div><!-- span9 -->
	<div class="span3">
		<div id="proposal_summary" class="well alert-info">
	    <ul id="summary" class="nav nav-list">
		    <li class="nav-header">About</li>
		    <li id="nsf_id"><strong>NSF ID:</strong> <span></span></li>
		    <li id="org"><strong>Division:</strong> <span></span></li>
		    <li id="pge"><strong>Program:</strong> <span></span></li>
		    <li class="nav-header">Information</li>
		    <li id="status"><strong>Status:</strong> <span></span></li>
		    <li id="date"><strong>Date:</strong> <span></span></li>
		    <li id="amount"><strong>Amount:</strong> <span></span></li>
		    <li class="nav-header">Links</li>
		    <li id="awardsearch"></li>
		    <li id="ejacket"></li>
	    </ul>
		</div>
	</div><!-- span3 -->
</div><!-- row -->
<p><small>The <strong>"Date"</strong> for Awarded Proposals is the Award date. For Declines/Others (internal NSF users only), the date reflects the Requested Start Date.</small></p>
<h4 class="margin-bottom10">Researchers:</h4>
<div id="researchers_loader"></div>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Institution</th>
			<th>Department</th>
		</tr>
	</thead>
	<tbody id="pi_details">
	</tbody>
</table>
<h4 class="margin-bottom10">Proposal Research Topics (in order)</h4>
<div id="topics_loader"></div>
<div id="topics"></div>