<script type="text/template" id="template_panel_details">
<p>Below you will find summary details about the panel(s) and reviewers for this proposal. Use the drop down menu to view details for additional panels that reviewed this proposal (if any).</p>
<div class="row">
	<div class="span9">
		<div class="row">
			<div class="span2">
				<h3>Panel Summary</h3>
				<small>(Total Panels: {{count}})</small>
			</div><!-- /span2 -->
			<div class="span7">
				{{panelselect}}
				<div class="row">
					<div class="span3">
						<p>Program Officer: {{officer}}</p>
						<p>Division: {{division}}</p>
						<p>Program Element Code: {{pge}}</p>
						<p>Panel Start Date: {{fiscalyear}}</p>
					</div><!-- /span3 -->
					<div class="span3">
						<p>Total Panel Reviewers: {{reviewers_count}}</p>
						<p>Total Proposals Reviewed: {{proposals_count}}</p>
						<p>Total Proposals Awarded: {{proposals_awarded_count}} ({{proposals_awarded_amount}})</p>
					</div><!-- /span3 -->
				</div><!-- /row -->
			</div><!-- /span7 -->
		</div><!-- /row -->
		<h3>Reviewers</h3>
		<div id="reviewers">
		{{reviewers}}
		</div>
	</div><!-- /span9 -->
	<div class="span3">
		<h3>Reviewer Summary</h3>
		<h4>Reviewer Gender</h4>
		<div id="reviewers_gender_graph">
		</div>
		<!--<h4>Reviewer Institution Classification</h4>
		<div id="reviewers_instclass_list">
		</div>-->
		<h4>Reviewer Institution Location</h4>
		<div id="reviewers_location_country">
		</div>
		<div id="reviewers_location_map">
		</div>
		<div id="reviewers_location_list">
		</div>
	</div><!-- /span3 -->
</div><!-- /row -->


<h3>Reviewers' Research Topics</h3>
<p>Reviewer expertise is characterized here by the set of Research Topics associated with the reviewer’s proposals submitted to NSF in the last 10 years.  Thus, excluded from this analysis is the “expertise” of reviewers who have not submitted a proposal to NSF in that time.</p>
<div class="row">
<div class="span7">
	<h5>Topics assigned to Proposals Submitted to NSF by Reviewers as PI/Co-PI</h5>
</div>
<div class="span5 form-horizontal">
	<div class="control-group pull-right">
		<label class="control-label" for="topicrelevance_paneldetails">Select list</label>
		<div class="controls">
		<select id="topicrelevance_paneldetails">
			{{topicrelevance}}
		</select>
		</div><!-- /controls -->
	</div><!-- /control-group -->
</div><!-- /span5 -->
</div><!-- /row -->

<div id="tab_panel_details_topics">
	{{topics}}
</div><!-- /tab_panel_details_topics -->

<br />
<h3>Methodology</h3>
<p>The Portfolio Explorer prototype uses a <a href="http://readidata.nitrd.gov/star/uploads/Topic_Modeling_Primer.pdf">topic modeling</a> approach to describe NSF scientific portfolios.  The topic model is a probabilistic model that automatically learns a set of topics (categories) that describe a collection of documents, based on the words in those documents.  The NSF "Research Topics" were modeled based on a collection of titles and project descriptions from all NSF proposals from 2000-2011.  Each NSF proposal is characterized by multiple, weighted "Research Topics".</p>
<p>The topic modeling approach was implemented as a result of a two year project undertaken on behalf of two NSF Advisory Committees – Computer and Information Science and Engineering (CISE) and Social, Behavioral and Economic Sciences (SBE).</p>
</script>
