<script type="text/template" id="template_reviewer_expertise">
<p>Below is a comparison of the Research Topics assigned to this proposal and the Research Topics that were assigned to the proposals submitted by the reviewers' to NSF (as PIs/Co-PIs).  The table and diagram present Research Topics that are common to this proposal and its reviewers, as a technique to characterize reviewer expertise.</p>
<h2>Proposal's Research Topics compared to Reviewers' Research Topics</h2>
<div class="row">
	<div class="span8">
		<h5>Show Panel: 
			{{panelselect}}
		</h5>
	</div><!-- /span8 -->
	<div class="span4" id="tab_reviewer_expertise_topics_venn">
		{{venn}}
	</div><!-- /span4 -->
</div><!-- /row -->

<h5>Reviewers' Research Topics:
<select id="topicrelevance_reviewerexpertise">
	{{topicrelevance}}
</select>
</h5>
<div id="tab_reviewer_expertise_topics">
{{topics}}
</div><!-- /tab_reviewer_expertise_topics -->
</script>

<script type="text/template" id="template_reviewer_expertise_topics_venn">
<div class="venn-wrap">
	<ul>
		<li class="title props">Proposal<span class="num-topics">{{topics_proposal_count}} Topics</span></li><!-- /title -->
		<li class="items props-list">{{topics_proposalonly_ids}}</li>
		<li class="title reviewers">Reviewers<span class="num-topics">{{proposal_topics_count}} Topics</span></li><!-- /title -->
		<li class="items reviewers-list">{{topics_common_ids}}</li>
		<li class="common">Common ({{topics_common_count}})</li>
	</ul>
</div>
</script>


<script type="text/template" id="template_reviewer_expertise_topics">
<table class="table table-condensed table-noborder">
	<thead>
		<tr>
			<th><h3>Common Research Topics ({{topics_common_count}} of {{topics_proposal_count}} Proposal Topics)</h3>
			<h5>(Research Topics that match both the Proposal and Reviewers' expertise)</h5>
			</th>
			<th>Reviewers' Proposal Count</th>
		</tr>
	</thead>
	<tbody>
		{{topics_common}}
	</tbody>
</table>
<table class="table table-condensed table-noborder">
	<thead>
		<tr>
			<th><h3>Exclusive Proposal Research Topics ({{topics_proposalonly_count}} of {{topics_proposal_count}} Proposal Topics)</h3>
			<h5>(Proposal Research Topics that were not assigned to the Proposals submitted by the Panel's Reviewers)</h5>
			</th>
			<th>Reviewers' Proposal Count</th>
		</tr>
	</thead>
	<tbody>
		{{topics_proposalonly}}
	</tbody>
</table>
<table class="table table-condensed table-noborder">
	<thead>
		<tr>
			<th><h3>Exclusive Reviewers' Proposals Research Topics ({{topics_reviewers_count}})</h3>
			<h5>(Reviewers' Research Topics that were not assigned to this Proposal)</h5>
			</th>
			<th>Reviewers' Proposal Count</th>
		</tr>
	</thead>
	<tbody>
		{{topics_reviewers}}
	</tbody>
</table>
</script>
