<script type="text/template" id="template_proposal_details">
<p><strong>Proposal Abstract</strong>: {{abstract}}</p>
<div class="row">
	<div class="span3">
		<table class="table table-condensed lbl-right table-noborder">
			{{status}}
			<tr>
				<td class="lbl"><strong>PGE Code</strong></td>
				<td>{{pge}}</td>
			</tr>
			<tr>
				<td class="lbl"><strong>Division</strong></td>
				<td>{{division}}</td>
			</tr>
			<tr>
				<td class="lbl"><strong>ext. links</strong></td>
				<td>{{links}}</td>
			</tr>
		</table>
	</div><!-- /span3 -->
	<div class="span9">
		<table class="table table-condensed table-noborder">
			<caption>Researchers</caption>
			<thead>
				<tr>
					<th>NSF ID</th>
					<th>Name</th>
					<th>Institution</th>
					<th>Department</th>
				</tr>
			</thead>
			<tbody>
				{{researchers}}
			</tbody>
		</table>
	</div><!-- /span9 -->
</div><!-- /row -->
<div class="row">
	<div class="span12">
		<h3>Proposal Research Topics (in order)</h3>
		{{= if (t1!="") { }}
			<p><strong>{{t1}}: {{t1_label}}</strong> {{t1_words}}</p>
		{{= } }}
		{{= if (t2!="") { }}
			<p><strong>{{t2}}: {{t2_label}}</strong> {{t2_words}}</p>
		{{= } }}
		{{= if (t3!="") { }}
			<p><strong>{{t3}}: {{t3_label}}</strong> {{t3_words}}</p>
		{{= } }}
		{{= if (t4!="") { }}
			<p><strong>{{t4}}: {{t4_label}}</strong> {{t4_words}}</p>
		{{= } }}
		<h3>Methodology</h3>
		<p>The Portfolio Explorer prototype uses a <a href="http://readidata.nitrd.gov/star/uploads/Topic_Modeling_Primer.pdf">topic modeling</a> approach to describe NSF scientific portfolios.  The topic model is a probabilistic model that automatically learns a set of topics (categories) that describe a collection of documents, based on the words in those documents.  The NSF "Research Topics" were modeled based on a collection of titles and project description from all NSF proposals from 2000-2011.  Each NSF proposal is characterized by multiple, weighted "Research Topics".</p>
		<p>The topic modeling approach was implemented as a result of a two year project undertaken on behalf of two NSF Advisory Committees – Computer and Information Science and Engineering (CISE) and Social, Behavioral and Economic Sciences (SBE).</p>
	</div><!-- /span12 -->
</div><!-- /row -->
</script>