<div class="page-header">
	<h1>Program Dashboard</h1>
</div>

<div id="dashboard">
</div>

<script type="text/Javascript">

App.views = {
	'IndexProgram': { el:$("#dashboard") },
};

function getDivision(){
	return '<%= current_user.division %>';
}
</script>
