<div class="page-header">
	<h1>Manage Assigned Proposals <small>for <%= @user.name %></small></h1> 
</div>
<div class="row">
	<div class="span8" id="proposal_new">
		<div class="alert">Checking data connection...</div>
	</div>
	<div class="span4">
		<ul class="nav nav-list">
	    	<li class="nav-header">About</li>
	    	<li><i class="icon-envelope"></i>Email: <%= @user.email %></li>
			<li><i class="icon-user"></i>Username: <%= @user.username %></li>
			<li><i class="icon-lock"></i>Role: <%= @user.role %></li>
			<li class="nav-header">Accessed</li>
			<li><i class="icon-calendar"></i>Created on: <%= @user.created_at %></li>
			<li><i class="icon-calendar"></i>Last Sign In: <%= @user.last_sign_in_at %></li>
			<li><i class="icon-lock"></i>Sign In Count: <%= @user.sign_in_count %></li>
			<li class="nav-header">Actions</li>
			<li><%= link_to_if(can?(:update,@user), raw("<i class='icon-pencil'></i> Edit"), edit_user_path(@user)) %></li>
			<li><%= link_to_if(can?(:delete, @user), raw("<i class='icon-remove'></i> Delete"), user_path(@user), :confirm => "Are you sure?", :method => :delete) {} %></li>
	    </ul>
	</div>
</div>
<h2>Assigned Proposals</h2>
<table class="table table-striped table-bordered table-condensed" id="proposals_table">
	<thead>
		<tr>
			<th width="300px">Title</th>
			<th>Proposal Date</th>
			<th>Award</th>
			<th>Last Viewed</th>
			<th width="200px">Panel/s (Program Officer/s)</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<script type="text/template" id="template_proposals_listitem">
<td>
	<a href="{{baseURI}}/proposals/{{id}}">{{nsf_id}}</a> - 
	{{title}}
</td>
<td>{{date}}</td>
<td>{{amount}}</td>
<td>{{lastviewed}}</td>
<td>{{panels}}</td>
<td>
	<a href="{{baseURI}}/proposals/{{id}}"><i class="icon-zoom-in"></i>Show</a><br />
	<% if can? :manage, :assignDivisionCan %>
		<a href="{{baseURI}}/proposals/{{id}}/edit"><i class="icon-pencil"></i>Edit</a><br />
	<% end %>
	<a href="#" id="proposals_unassign_{{id}}"><i class="icon-remove"></i>Remove</a>

</td>
</script>

<script type="text/Javascript">
App.views = {
	'ShowUser': { el:$("#main"), user_id:'<%= @user.id %>', division:'<%= @user.division %>'}
};
</script>
