html { overflow-y: scroll; }

body {
  background: #d2d2d2;
  font-size: 12px;
  line-height: 16px;
}

.text-left { text-align: left;}
.text-right { text-align: right;}
.text-center, td.text-center, th.text-center { text-align: center;}

#tab_reviewer_expertise_topics [class^="icon-"] {
  margin-right: 5px;
}

.navbar { margin-bottom: 0; height: 40px; }
.navbar-inner { padding: 0px; z-index: 1000; }
.navbar b.caret {
  margin-top: 20px;
  margin-left: 5px;
}
iframe {
  z-index: 10;
}

.content {
background: #fff;
padding: 15px;
min-height: 500px;
}

.icon-red {
  background-image: url(../img/glyphicons-halflings-red.png);
}

.icon-green {
  background-image: url(../img/glyphicons-halflings-green.png);
}

.icon-gray {
  background-image: url(../img/glyphicons-halflings-gray.png);
}

/* make this more intelligent */
.margin-bottom5 {
margin-bottom: 5px;
}

.margin-bottom10 {
margin-bottom: 10px;
}

/*
------------------------------------------------------------ Data Tables Reset
*/

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    background: none;
    color: #333;
    border: none;
}

.ui-widget-header {
    background: none;
    border: none;
    color: #333;
    font-weight: bold;
}

.ui-icon {
display: block;
}

.header {
margin: 0 auto;
padding: 15px 15px 0 15px;
}

.header .navbar .navbar-inner {
margin: 0 -15px;
background: #2d4d85;
background: -moz-linear-gradient(top,  #2d4d85 0%, #100035 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d4d85), color-stop(100%,#100035));
background: -webkit-linear-gradient(top,  #2d4d85 0%,#100035 100%);
background: -o-linear-gradient(top,  #2d4d85 0%,#100035 100%);
background: -ms-linear-gradient(top,  #2d4d85 0%,#100035 100%);
background: linear-gradient(top,  #2d4d85 0%,#100035 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4d85', endColorstr='#100035',GradientType=0 );
border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
height: 40px;
}

.header-base {
position: relative;
height: 128px;
margin: 0 -15px;
}

.header-base { background: transparent url(headerbg-wide.png) no-repeat bottom; }
.header-base h1 {
height: 101px;
width: 452px;
margin: 0 auto;
position: relative;
top: 13px;
}

.header-base h1 a {
display: block;
height: 101px;
width: 452px;
background: transparent url(cov-logo.png) no-repeat top left;
overflow: hidden;
text-indent: -100%;
}

.header-base h1.internal a {
background: transparent url(cov-logo-internal.png) no-repeat top left;
}

.header-base .seal-pres,
.header-base .seal-nsf {
display: block;
height: 69px;
width: 69px;
position: absolute;
bottom: 6px;
overflow: hidden;
text-indent: -100%;
}

.header-base .seal-pres {
background: transparent url(seal-pres.png) no-repeat top left;
left: 15px;
}

.header-base .seal-nsf {
background: transparent url(seal-nsf.png) no-repeat top left;
right: 15px;
}

.cf:before, .cf:after {
display: table;
content: "";
}
.cf:after {
clear: both;
}


/*
--------------------------------------------------------------------------------------- VENN
*/

.venn-wrap {
height: 133px;
width: 269px;
overflow: hidden;
position: relative;
background: transparent url(venn-bg.png) no-repeat top left;
}
.venn-wrap ul {
list-style: none;
list-style-image: none;
list-style-type: none;
margin: 0;
padding: 0;
}
.venn-wrap ul li {
position: absolute;
}
.venn-wrap .title {
font-size: 13px;
line-height: 13px;
font-weight: bold;
}
.venn-wrap .common {
font-size: 12px;
font-weight: bold;
}
.venn-wrap .items {
font-size: 12px;
line-height: 14px;
font-weight: bold;
width: 70px;
}
.venn-wrap .title .num-topics {
font-weight: normal;
display: block;
font-size: 11px;
line-height: 11px;
}
.venn-wrap .props { top: 5px; left: 2px; color: #326389; }
.venn-wrap .props-list { top: 55px; left: 15px; color: #aa170a; }
.venn-wrap .reviewers { top: 24px; left: 198px; color: #9e9e9e; }
.venn-wrap .reviewers-list { top: 79px; left: 83px; color: #797979; }
.venn-wrap .common { top: 57px; left: 115px; color: #797979; }

/*
--------------------------------------------------------------------------------------- CUSTOM TYPOGRAPHY
*/

/*
--------------------------------------------------------------------------------------- NAV
*/

.navbar .nav > li {
    padding: 0px 8px;
}
.navbar .nav > li > a,
.navbar .navbar-text {
    color: #fff;
    font-weight: bold;
    float: none;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
    text-shadow: none;
    font-size: 14px;
}

#welcome_link {
	height: 40px; /* do this because the span inside this a will set a line-height. Normally, this a sets a line-height as well, but if you set the line-height of the span, then that borks this a, so am solving by forcing this a to have a height and letting everything else flow */
}

#welcome_link > span {
	display: inline-block;
	max-width: 150px;
	line-height: 40px;
	overflow: hidden;
	white-space: nowrap; /* this could also be achieved by setting the height of this element */
}

.navbar .nav > li.active, .navbar .nav > li.active a, .navbar .nav > li:hover {
	background: #138652;
	background: -moz-linear-gradient(top,  #138652 0%, #145135 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#138652), color-stop(100%,#145135));
	background: -webkit-linear-gradient(top,  #138652 0%,#145135 100%);
	background: -o-linear-gradient(top,  #138652 0%,#145135 100%);
	background: -ms-linear-gradient(top,  #138652 0%,#145135 100%);
	background: linear-gradient(top,  #138652 0%,#145135 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#138652', endColorstr='#145135',GradientType=0 );
    text-decoration: none;
}

.dropdown-menu li a {
  font-weight: normal;
  font-size: 12px;
}
.dropdown-menu li:hover {
  background: #138652;
}

/*
--------------------------------------------------------------------------------------- HEADINGS
*/

.page-header {
margin: 0;
padding: 0;
border: none;
margin-bottom: 20px;
}

.page-header h1 {
font-size: 26px;
color: #334779;
}

.page-header h2 {
margin-top: 10px;
}

h2 {
font-size: 18px;
line-height: 19px;
margin-bottom: 20px;
}

h3 {
font-size: 16px;
margin-bottom: 5px;
color: #c66a28;
}

h4 {
color: #334779;
}

h5 {
font-size: 14px;
font-weight: bold;
color: #666;
}

/*
--------------------------------------------------------------------------------------- TABS
*/
.nav-tabs a {
font-weight: bold;
}

.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover,
.nav-tabs > li > a:hover  {
color: #334779;
}

.nav-tabs > li > a {
background: #16a169;
color: #fff;
}

.nav-tabs > li > a {
margin-right: 5px;
}

/*
--------------------------------------------------------------------------------------- TABLES
*/

.table-noborder td,
.table-noborder th {
border: none;
}

.table caption {
text-align: left;
font-size: 14px;
font-weight: bold;
padding: 0 5px;	
}

.lbl-right .lbl {
text-align: right;
}

#tab_reviewer_expertise_topics table tr th:last-child,
#tab_reviewer_expertise_topics table tr td:last-child,
#tab_reviewer_expertise_topics table tr th:last-child,
#tab_reviewer_expertise_topics table tr td:last-child,
#tab_panel_details_topics table tr th:last-child,
#tab_panel_details_topics table tr td:last-child {
    text-align: center;
    width: 120px;
}

/*
--------------------------------------------------------------------------------------- REVIEWER DETAILS PAGE
*/

.icon {
width: 50px;
}

th.icon {
font-size: 11px;
line-height: 11px;
}

td.icon,
th.icon {
text-align: center;
}

#tab_reviewer_details h3 {
line-height: 22px;
}

#tab_reviewer_details table td {
padding: 3px;
line-height: 13px;
}

#tab_reviewer_details .left table p {
font-size: 11px;
line-height: 12px;
}

#reviewer_awards h3 {
border-top: 1px solid #ccc;
margin-top: 30px;
padding-top: 30px;
}
/*
--------------------------------------------------------------------------------------- Proposals Admin List
*/

.dataTables_length {
float: left;
}
.dataTables_filter {
float: left;
}

.dataTables_filter label,
.dataTables_filter input {
margin-bottom: 0;
}

div.DTTT_container {
margin-bottom: 10px;
}

.DTTT_container .DTTT_button {
background: rgb(237,237,237);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
border: 1px solid #ccc;
}

.dataTable {
clear: both;
}

.dataTables_length label,
.dataTables_filter label {
font-weight: bold;
}

.dataTables_length label,
.dataTables_length select,
.dataTables_filter label,
.dataTables_filter input {
display: inline;
}

.dataTables_length select { width: 70px; }

.dataTables_info {
float: left;
font-weight: bold;
line-height: 34px;
margin-left:10px;
}

.dataTables_paginate {
float: right;
}

.dataTables_paginate a,
.dataTables_paginate .ui-state-default {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  margin-left: 10px;
}

.paging_full_numbers a {
margin-left: 5px;
}

.paging_full_numbers .paginate_active {
background: rgb(222,239,255);
background: -moz-linear-gradient(top,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1)));
background: -webkit-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
background: -o-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
background: -ms-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
background: linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
}

.dataTables_paginate .paginate_button_disabled,
.dataTables_paginate .paginate_disabled_previous,
.dataTables_paginate .paginate_disabled_next {
color: #ccc;
cursor: default;
}

.datatable_help {
	float: left;
	margin-left: 5px;
}

.datatable_help p {
 font-weight: normal;
 line-height: 28px;
 margin: 0 0 0 0;
}

.table-header-controls {
margin-bottom: 20px;
border: 1px solid #ccc;
background: #f1f1f1;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; 
}

.table-header-controls form {
margin: 5px;
}

.table-header-controls .control-group {
margin: 0;
}

#topic_weights .add-on {
width: 70px;
color: #666;
font-weight: bold;
}

#topic_weights {
width: 145px;
margin: 0 auto 15px auto;
}

#topic_weights .btn {
margin: 0 auto;
}

#topic_weights th {
vertical-align: bottom;
}

#topic_weights input[type="text"] {
text-align: center;
font-weight: bold;
}

.proposal-actions {
width: 140px;
}

.proposal-actions br {
display: none;
}

.proposal-actions a {
display: block;
width: 70px;
overflow: hidden;
float: left;
/*
color: #000;
opacity: .5;
*/
}

/*
#proposals_table td:last-child a:hover {
opacity: 1;
}
*/

/*
--------------------------------------------------------------------------------------- TOPICS DIVISION SUMMARY
*/

#topics_divisions_summary .nav-list, #proposal_summary .nav-list {
padding: 0;
}

#topics_divisions_summary .nav-list li, #proposal_summary .nav-list li {
color: #000;
font-weight: normal;
padding-left: 10px;
}

#topics_divisions_summary .nav-list .nav-header, #proposal_summary .nav-list .nav-header {
color: #C66A28;
margin: 10px 0 0 0;
padding: 0;
font-weight: bold;
}

#topics_divisions_summary .nav-list .nav-header span, #proposal_summary .nav-list .nav-header span {
font-weight: normal;
color: #333;
}

/*
--------------------------------------------------------------------------------------- division_summary
*/

#division_summary.alert {
padding: 8px;
}

#division_summary.alert h3 {
line-height: normal;
}

#division_summary.alert .row {
margin: 0;
padding: 0;
}

#division_summary.alert .row [class^="span"] {
margin: 0;
}
